.each-post{
    background-color:darkslategrey;
    width: 70%;
    margin: auto;
    height: 70vh;
    padding: 4em;
    color:rgb(236, 207, 168);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}