.liked-main-container{
    margin: 1em 0;
    background-color:teal;
    padding: 2em;
    text-align: center;
    

}
.likes{
    background-color: #0a1552;
    color: antiquewhite;
    width: 50%;
    font-size: 16px;
    font-weight: bold;
}
.liked-posts-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}
.liked-post-item{
    background-color:chocolate;
    width: 30%;
    padding: 20px;
    margin-bottom: 10px;
}
.like-button{
    background-color:indigo;
    color: azure;
    width: 20vh;
    margin-top: 20px;
    height: 8vh;
    border: 0px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}